/* body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #87ceeb; sky blue
    color: #ffffff; text color white
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px); 4 columns for the 4x4 grid
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #98ff98; Lime green background color for the cards
    border: 2px solid #e6e6fa; Lavender web border for cards
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px; for a 3d flip
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;ensures 3d space for child elements
    transition: transform 0.8s; smooth flip animation
}

.card.flip .card-inner {
    transform: rotateY(180deg); flips the card
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; Hide the back side when not flipped
}

.card-back{
    background-color: #98ff98; Lime green background color for the cards
}

.card-front {
    transform: rotateY(180deg);
} */